$notarisa-white:white;
$notarisa-purple:#3e003a;
$notarisa-red:#fd3f3a;
$notarisa-green:#3cffcd;
$notarisa-gray:#dadada;
$notarisa-dark-gray:#9a9a9a;
$notarisa-light-gray:#eaeaea;


@media only screen and (min-width: 300px) and (max-width: 320px) {

}
@media only screen and (min-width: 321px) and (max-width: 480px) {
	.web-container{
		display:none !important;
	}
	.web-movil{
		display: block !important;
	}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.web-container{
		display:none !important;
	}
	.web-movil{
		display: block !important;
	}
	.hide-md{
		display: none !important;
	}
	a.notarisa-btn{

	}
	.notarisa-btn.small{

	}


	.notarisa-btn.white{
		

	}
	.notarisa-btn.white:hover{
		

	}

	.notarisa-btn.purple{
		

	}

	.notarisa-btn.purple:hover{
		
	}

	.menu.show{
		
	}

	.menu{
		
		.actions{

			i{

			}
		}
		.logo{
			.purple-line{
				
			}
		}
		.items{
			.item{
			}
			.item:hover{

				
			}
		}
		.links{
			.link{
				a{
					i{

					}
				}
			}
			.link:hover{

				a{

					i{
					}
				}
			}
			.link:nth-child(1),
			.link:nth-child(2){
				
			}
		}
	}

	.menu:hover{
		
	}

	nav{

		.top-logo{

		}

		.top-logo.show_it{


		}

		.btn-menu{
		}
	}

	#home{

		img{

		}
		.leyenda{
			top: calc(100% - 325px) !important;

			h1{

			}
			p{

			}
		}
		.link-notaria{
			font-size: 27px !important;
			padding: 16px !important;
			a{

			}
		}
		.link-notaria:hover{

		}
	}

	#nosotros{
		.container{
			.row{

				.img-container{
					img{

					}
				}
				.leyenda{
					h1{
					}
					p{

					}
				}
			}
		}
	}

	#historia{
		
		.container{
			

			.titulo{
				h1{

				}
			}
			.leyenda{
				p{

				}
			}

			.img-container{
				.caluga{

					.img-hover{

						img{

							

						}
					}
					h3{
						font-size: 11px !important;
					}
					p{

					}
					p.firma{
						img{

						}
					}
				}

				.img-hover:hover img{
				}
			}
			.btn-container{

			}

		}

	}

	#mision{
		.container{
			

			.row{
				.img{
					
					img{
						
					}
				}
				.leyenda{
					h2{
						
					}
					p{

					}
				}
			}
		}
	}


	#portafolio{
		
		.container{
			

			.row{
				.cabecera{
					
					h2{

					}
				}

				.proyecto{
					.img-container{
						height: 270px !important;
						img	{

							
						}	
					}
					.img-container:hover{
						img{
							
							
							
						}
					}
					.label{
						
						
					}


				}
				.proyecto:nth-child(2){
					
					.img-container{
						
						img{
							
						}
					}
					&::after{
						top: 88px !important;	
					}


				}

				.proyecto:nth-child(3){
					
					.img-container{
						
						img{

						}
					}
					&::before{
						top: 88px !important;

					}

				}
				.proyecto:nth-child(4){
					

					.img-container{
						
						img{

						}
					}

				}
			}
		}
	}


	#razones{

		.container{
			

			.row{
				.cabecera{

					h2{

					}
					.sub-title{
					}
				}
				.calugas{
					.caluga{
						img{
						}
						p{
							i{
							}
							span{

							}
						}

						
						
						

					}

					.caluga:hover{
						
					}
				}
			}
		}
	}

	#footer{
		
		.leyenda{
			
			

			h1{
			}

			.item{
				
				a{

					
				}
			}
			.btn-container{
				
			}
		}
		.map{
			img{
				

			}
		}
	}
	#acreditaciones{
		.container{
			

			.row{
				.cabecera{
					
					h2{
						
					}
					.sub-title{
						
					}
				}
				.calugas{
					.caluga{
						img{
							
						}
						p{
							i{

							}
							span{
								
							}
						}
						
						
						

					}
					.caluga:hover{
						
					}

				}
			}
		}	
	}

	.manual-prevencion-container{
		
		a{
			
		}
		&:hover{
			
		}
	}

	/* WEB MOVILE */
	.web-movil{
		
		.logo-movil{
			
		}
		h2{	
			
		}
		.grua{
			
		}
		h1{
			
		}

	}
	/* FIN WEB MOVILE */


	/* MODAL PORTAFOLIO */
	.modal.portafolio{
		.modal-dialog{
			width: 796px !important;
			.modal-content{
				
				.modal-header{
					
				}
				.modal-body{

					.text{
						
						h2{
							
						}
						p{

						}
						.button-container{
							
						}
					}
					.img-container{
						
						img{
							
						}
					}
				}
				.modal-footer{
					
				}
			}
		}

	}


	#bio{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#notaria{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#erp{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}


	/* FIN MODAL PORTAFOLIO */



	/* MODAL CONTACTO */
	#modalContacto{
		.modal-dialog{
			.modal-content{
				.modal-header{

					.modal-title{


					}
					button.close{

					}
				}
				.modal-body{
					.form-group{
						label{

						}
						input{
							
							
						}
						textarea{
							
							
						}
						input.error,textarea.error{
							
						}
					}
				}
				.modal-footer{
					button{

					}
					button.cancel{
						
					}
					button.ok{
						
					}
				}
			}
		}
	}
	/* FIN MODAL CONTACTO */


}




@media only screen and (min-width: 768px) and (max-width: 835px) {
	.hide-md{
		display: none !important;
	}
	a.notarisa-btn{

	}
	.notarisa-btn.small{

	}


	.notarisa-btn.white{
		

	}
	.notarisa-btn.white:hover{
		

	}

	.notarisa-btn.purple{
		

	}

	.notarisa-btn.purple:hover{
		
	}

	.menu.show{
		
	}

	.menu{
		
		.actions{

			i{

			}
		}
		.logo{
			.purple-line{
				
			}
		}
		.items{
			.item{
			}
			.item:hover{

				
			}
		}
		.links{
			.link{
				a{
					i{

					}
				}
			}
			.link:hover{

				a{

					i{
					}
				}
			}
			.link:nth-child(1),
			.link:nth-child(2){
				
			}
		}
	}

	.menu:hover{
		
	}

	nav{

		.top-logo{

		}

		.top-logo.show_it{


		}

		.btn-menu{
		}
	}

	#home{
		height: 75% !important;
		img{

		}
		.leyenda{
			top: calc(100% - 359px) !important;

			h1{

			}
			p{

			}
		}
		.link-notaria{
			font-size: 24px !important;
			padding: 20px !important;
			a{

			}
		}
		.link-notaria:hover{

		}
	}

	#nosotros{
		.container{
			.row{

				.img-container{
					img{

					}
				}
				.leyenda{
					h1{
					}
					p{

					}
				}
			}
		}
	}

	#historia{
		
		.container{
			

			.titulo{
				h1{

				}
			}
			.leyenda{
				height: 280px !important;
				p{

				}
			}

			.img-container{
				.caluga{

					.img-hover{

						img{

							

						}
					}
					h3{
						font-size: 11px !important;
					}
					p{

					}
					p.firma{
						img{

						}
					}
				}

				.img-hover:hover img{
				}
			}
			.btn-container{

			}

		}

	}

	#mision{
		.container{
			

			.row{
				.img{
					
					img{
						
					}
				}
				.leyenda{
					h2{
						
					}
					p{

					}
				}
			}
		}
	}


	#portafolio{
		
		.container{
			

			.row{
				.cabecera{
					
					h2{

					}
				}

				.proyecto{
					.img-container{
						height: 180px!important;
						img	{

							
						}	
					}
					.img-container:hover{
						img{
							
							
							
						}
					}
					.label{
						
						
					}


				}
				.proyecto:nth-child(2){
					
					.img-container{
						
						img{
							
						}
					}
					&::after{
						top: 63px;
						content: '';
						display: inline-block;
						width: 65px;
						height: 65px;
						-moz-border-radius: 7.5px;
						-webkit-border-radius: 7.5px;
						border-radius: 100px;
						background-color: white;
						position: absolute;
						z-index: 1;
						right: -34px;	
					}


				}

				.proyecto:nth-child(3){
					
					.img-container{
						
						img{

						}
					}
					&::before{
						content: '';

						top: 63px;
						content: '';
						display: inline-block;
						width: 65px;
						height: 65px;
						-moz-border-radius: 7.5px;
						-webkit-border-radius: 7.5px;
						border-radius: 100px;
						background-color: $notarisa-gray;
						position: absolute;
						z-index: 1;
						right: -34px;	

					}

				}
				.proyecto:nth-child(4){
					

					.img-container{
						
						img{

						}
					}

				}
			}
		}
	}


	#razones{

		.container{
			

			.row{
				.cabecera{
					margin-bottom: 90px !important;
					h2{

					}
					.sub-title{
					}
				}
				.calugas{
					.caluga{
						img{
						}
						p{
							i{
							}
							span{

							}
						}

						
						
						

					}

					.caluga:hover{
						
					}
				}
			}
		}
	}

	#footer{
		
		.leyenda{
			
			

			h1{
			}

			.item{
				
				a{

					
				}
			}
			.btn-container{
				
			}
		}
		.map{
			img{
				

			}
		}
	}
	#acreditaciones{
		.container{
			

			.row{
				.cabecera{
					
					h2{
						
					}
					.sub-title{
						
					}
				}
				.calugas{
					.caluga{
						img{
							
						}
						p{
							i{

							}
							span{
								
							}
						}
						
						
						

					}
					.caluga:hover{
						
					}

				}
			}
		}	
	}

	.manual-prevencion-container{
		
		a{
			
		}
		&:hover{
			
		}
	}

	/* WEB MOVILE */
	.web-movil{
		
		.logo-movil{
			
		}
		h2{	
			
		}
		.grua{
			
		}
		h1{
			
		}

	}
	/* FIN WEB MOVILE */


	/* MODAL PORTAFOLIO */
	.modal.portafolio{
		.modal-dialog{

			.modal-content{
				
				.modal-header{
					
				}
				.modal-body{

					.text{
						
						h2{
							
						}
						p{

						}
						.button-container{
							
						}
					}
					.img-container{
						
						img{
							
						}
					}
				}
				.modal-footer{
					
				}
			}
		}

	}


	#bio{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#notaria{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#erp{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}


	/* FIN MODAL PORTAFOLIO */



	/* MODAL CONTACTO */
	#modalContacto{
		.modal-dialog{
			.modal-content{
				.modal-header{

					.modal-title{


					}
					button.close{

					}
				}
				.modal-body{
					.form-group{
						label{

						}
						input{
							
							
						}
						textarea{
							
							
						}
						input.error,textarea.error{
							
						}
					}
				}
				.modal-footer{
					button{

					}
					button.cancel{
						
					}
					button.ok{
						
					}
				}
			}
		}
	}
	/* FIN MODAL CONTACTO */

}
@media only screen and (min-width: 836px) and (max-width: 1023px) {
	
	.hide-md{
		display: none !important;
	}

	a.notarisa-btn{

	}
	.notarisa-btn.small{

	}


	.notarisa-btn.white{
		

	}
	.notarisa-btn.white:hover{
		

	}

	.notarisa-btn.purple{
		

	}

	.notarisa-btn.purple:hover{
		
	}

	.menu.show{
		
	}

	.menu{
		
		.actions{

			i{

			}
		}
		.logo{
			.purple-line{
				
			}
		}
		.items{
			.item{
			}
			.item:hover{

				
			}
		}
		.links{
			.link{
				a{
					i{

					}
				}
			}
			.link:hover{

				a{

					i{
					}
				}
			}
			.link:nth-child(1),
			.link:nth-child(2){
				
			}
		}
	}

	.menu:hover{
		
	}

	nav{

		.top-logo{

		}

		.top-logo.show_it{






		}

		.btn-menu{
		}
	}

	#home{

		img{

		}
		.leyenda{
			top: calc(100% - 360px) !important;
			width: 70% !important;
			h1{

			}
			p{

			}
		}
		.link-notaria{
			font-size: 24px !important;
			padding: 20px !important;
			top: calc(100% - 77px) !important;
			a{

			}
		}
		.link-notaria:hover{

		}
	}

	#nosotros{
		.container{
			.row{

				.img-container{
					img{

					}
				}
				.leyenda{
					h1{
					}
					p{

					}
				}
			}
		}
	}

	#historia{
		
		.container{
			

			.titulo{
				h1{

				}
			}
			.leyenda{
				height: 280px !important;
				p{
				}
			}

			.img-container{
				.caluga{

					.img-hover{

						img{

							

						}
					}
					h3{
						font-size: 14px !important;
					}
					p{
						font-size: 11px !important;
					}
					p.firma{
						img{

						}
					}
				}

				.img-hover:hover img{
				}
			}
			.btn-container{

			}

		}

	}

	#mision{
		.container{
			

			.row{
				.img{
					
					img{
						
					}
				}
				.leyenda{
					h2{
						
					}
					p{

					}
				}
			}
		}
	}


	#portafolio{
		
		.container{
			

			.row{
				.cabecera{
					
					h2{

					}
				}

				.proyecto{
					.img-container{
						height: 180px !important;
						img	{

							
						}	
					}
					.img-container:hover{
						img{
							
							
							
						}
					}
					.label{
						
						
					}


				}
				.proyecto:nth-child(2){
					
					.img-container{
						
						img{
							
						}
					}
					&::after{
						top: 63px;
						content: '';
						display: inline-block;
						width: 65px;
						height: 65px;
						-moz-border-radius: 7.5px;
						-webkit-border-radius: 7.5px;
						border-radius: 100px;
						background-color: white;
						position: absolute;
						z-index: 1;
						right: -34px;	
					}


				}

				.proyecto:nth-child(3){
					
					.img-container{
						
						img{

						}
					}
					&::before{
						
						top: 63px;
						content: '';
						display: inline-block;
						width: 65px;
						height: 65px;
						-moz-border-radius: 7.5px;
						-webkit-border-radius: 7.5px;
						border-radius: 100px;
						background-color: $notarisa-gray;
						position: absolute;
						z-index: 1;
						right: -34px;	

					}

				}
				.proyecto:nth-child(4){
					

					.img-container{
						
						img{

						}
					}

				}
			}
		}
	}


	#razones{

		.container{
			

			.row{
				.cabecera{
					margin-bottom: 90px !important;
					h2{

					}
					.sub-title{
					}
				}
				.calugas{
					.caluga{
						img{
						}
						p{
							i{
							}
							span{

							}
						}

						
						
						

					}

					.caluga:hover{
						
					}
				}
			}
		}
	}

	#footer{
		
		.leyenda{
			
			

			h1{
			}

			.item{
				
				a{

					
				}
			}
			.btn-container{
				
			}
		}
		.map{
			img{
				

			}
		}
	}
	#acreditaciones{
		.container{
			

			.row{
				.cabecera{
					
					h2{
						
					}
					.sub-title{
						
					}
				}
				.calugas{
					.caluga{
						img{
							
						}
						p{
							i{

							}
							span{
								
							}
						}
						
						
						

					}
					.caluga:hover{
						
					}

				}
			}
		}	
	}

	.manual-prevencion-container{
		
		a{
			
		}
		&:hover{
			
		}
	}

	/* WEB MOVILE */
	.web-movil{
		
		.logo-movil{
			
		}
		h2{	
			
		}
		.grua{
			
		}
		h1{
			
		}

	}
	/* FIN WEB MOVILE */


	/* MODAL PORTAFOLIO */
	.modal.portafolio{
		.modal-dialog{

			.modal-content{
				
				.modal-header{
					
				}
				.modal-body{

					.text{
						
						h2{
							
						}
						p{

						}
						.button-container{
							
						}
					}
					.img-container{
						
						img{
							
						}
					}
				}
				.modal-footer{
					
				}
			}
		}

	}


	#bio{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#notaria{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#erp{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}


	/* FIN MODAL PORTAFOLIO */



	/* MODAL CONTACTO */
	#modalContacto{
		.modal-dialog{
			.modal-content{
				.modal-header{

					.modal-title{


					}
					button.close{

					}
				}
				.modal-body{
					.form-group{
						label{

						}
						input{
							
							
						}
						textarea{
							
							
						}
						input.error,textarea.error{
							
						}
					}
				}
				.modal-footer{
					button{

					}
					button.cancel{
						
					}
					button.ok{
						
					}
				}
			}
		}
	}
	/* FIN MODAL CONTACTO */

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	a.notarisa-btn{

	}
	.notarisa-btn.small{

	}


	.notarisa-btn.white{
		

	}
	.notarisa-btn.white:hover{
		

	}

	.notarisa-btn.purple{
		

	}

	.notarisa-btn.purple:hover{
		
	}

	.menu.show{
		
	}

	.menu{
		
		.actions{

			i{

			}
		}
		.logo{
			.purple-line{
				
			}
		}
		.items{
			.item{
			}
			.item:hover{

				
			}
		}
		.links{
			.link{
				a{
					i{

					}
				}
			}
			.link:hover{

				a{

					i{
					}
				}
			}
			.link:nth-child(1),
			.link:nth-child(2){
				
			}
		}
	}

	.menu:hover{
		
	}

	nav{

		.top-logo{

		}

		.top-logo.show_it{






		}

		.btn-menu{
		}
	}

	#home{

		img{

		}
		.leyenda{
			h1{

			}
			p{

			}
		}
		.link-notaria{
			a{

			}
		}
		.link-notaria:hover{

		}
	}

	#nosotros{
		.container{
			.row{

				.img-container{
					img{

					}
				}
				.leyenda{
					h1{
					}
					p{

					}
				}
			}
		}
	}

	#historia{
		
		.container{
			

			.titulo{
				h1{

				}
			}
			.leyenda{
				p{
				}
			}

			.img-container{
				.caluga{

					.img-hover{

						img{

							

						}
					}
					h3{


					}
					p{

					}
					p.firma{
						img{

						}
					}
				}

				.img-hover:hover img{
				}
			}
			.btn-container{

			}

		}

	}

	#mision{
		.container{
			

			.row{
				.img{
					
					img{
						
					}
				}
				.leyenda{
					h2{
						
					}
					p{

					}
				}
			}
		}
	}


	#portafolio{
		
		.container{
			

			.row{
				.cabecera{
					
					h2{

					}
				}

				.proyecto{
					.img-container{
						height:300px !important;
						img	{

							
						}	
					}
					.img-container:hover{
						img{
							
							
							
						}
					}
					.label{
						
						
					}


				}
				.proyecto:nth-child(2){

					.img-container{
						height:300px !important;
						img{
							
						}
					}
					&::after{
						top: 103px !important;
					}


				}

				.proyecto:nth-child(3){
					
					.img-container{
						height:300px !important;
						img{

						}
					}
					&::before{
						top: 103px !important;
					}

				}
				.proyecto:nth-child(4){
					

					.img-container{
						
						img{

						}
					}

				}
			}
		}
	}


	#razones{

		.container{
			

			.row{
				.cabecera{

					h2{

					}
					.sub-title{
					}
				}
				.calugas{
					.caluga{
						img{
						}
						p{
							i{
							}
							span{

							}
						}

						
						
						

					}

					.caluga:hover{
						
					}
				}
			}
		}
	}

	#footer{
		
		.leyenda{
			
			

			h1{
			}

			.item{
				
				a{

					
				}
			}
			.btn-container{
				
			}
		}
		.map{
			img{
				

			}
		}
	}
	#acreditaciones{
		.container{
			

			.row{
				.cabecera{
					
					h2{
						
					}
					.sub-title{
						
					}
				}
				.calugas{
					.caluga{
						img{
							
						}
						p{
							i{

							}
							span{
								
							}
						}
						
						
						

					}
					.caluga:hover{
						
					}

				}
			}
		}	
	}

	.manual-prevencion-container{
		
		a{
			
		}
		&:hover{
			
		}
	}

	/* WEB MOVILE */
	.web-movil{
		
		.logo-movil{
			
		}
		h2{	
			
		}
		.grua{
			
		}
		h1{
			
		}

	}
	/* FIN WEB MOVILE */


	/* MODAL PORTAFOLIO */
	.modal.portafolio{
		.modal-dialog{

			.modal-content{
				
				.modal-header{
					
				}
				.modal-body{

					.text{
						
						h2{
							
						}
						p{

						}
						.button-container{
							
						}
					}
					.img-container{
						
						img{
							
						}
					}
				}
				.modal-footer{
					
				}
			}
		}

	}


	#bio{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#notaria{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#erp{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}


	/* FIN MODAL PORTAFOLIO */



	/* MODAL CONTACTO */
	#modalContacto{
		.modal-dialog{
			.modal-content{
				.modal-header{

					.modal-title{


					}
					button.close{

					}
				}
				.modal-body{
					.form-group{
						label{

						}
						input{
							
							
						}
						textarea{
							
							
						}
						input.error,textarea.error{
							
						}
					}
				}
				.modal-footer{
					button{

					}
					button.cancel{
						
					}
					button.ok{
						
					}
				}
			}
		}
	}
	/* FIN MODAL CONTACTO */

}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	a.notarisa-btn{

	}
	.notarisa-btn.small{

	}


	.notarisa-btn.white{
		

	}
	.notarisa-btn.white:hover{
		

	}

	.notarisa-btn.purple{
		

	}

	.notarisa-btn.purple:hover{
		
	}

	.menu.show{
		
	}

	.menu{
		
		.actions{

			i{

			}
		}
		.logo{
			.purple-line{
				
			}
		}
		.items{
			.item{
			}
			.item:hover{

				
			}
		}
		.links{
			.link{
				a{
					i{

					}
				}
			}
			.link:hover{

				a{

					i{
					}
				}
			}
			.link:nth-child(1),
			.link:nth-child(2){
				
			}
		}
	}

	.menu:hover{
		
	}

	nav{

		.top-logo{

		}

		.top-logo.show_it{






		}

		.btn-menu{
		}
	}

	#home{

		img{

		}
		.leyenda{
			h1{

			}
			p{

			}
		}
		.link-notaria{
			a{

			}
		}
		.link-notaria:hover{

		}
	}

	#nosotros{
		.container{
			.row{

				.img-container{
					img{

					}
				}
				.leyenda{
					h1{
					}
					p{

					}
				}
			}
		}
	}

	#historia{
		
		.container{
			

			.titulo{
				h1{

				}
			}
			.leyenda{
				p{
				}
			}

			.img-container{
				.caluga{

					.img-hover{

						img{

							

						}
					}
					h3{


					}
					p{

					}
					p.firma{
						img{

						}
					}
				}

				.img-hover:hover img{
				}
			}
			.btn-container{

			}

		}

	}

	#mision{
		.container{
			

			.row{
				.img{
					
					img{
						
					}
				}
				.leyenda{
					h2{
						
					}
					p{

					}
				}
			}
		}
	}


	#portafolio{
		
		.container{
			

			.row{
				.cabecera{
					
					h2{

					}
				}

				.proyecto{
					.img-container{
						img	{

							
						}	
					}
					.img-container:hover{
						img{
							
							
							
						}
					}
					.label{
						
						
					}


				}
				.proyecto:nth-child(2){
					
					.img-container{
						
						img{
							
						}
					}
					&::after{
						top :105px !important	;
					}


				}

				.proyecto:nth-child(3){
					
					.img-container{
						
						img{

						}
					}
					&::before{
						top :105px !important	;
					}

				}
				.proyecto:nth-child(4){
					

					.img-container{
						
						img{

						}
					}

				}
			}
		}
	}


	#razones{

		.container{
			

			.row{
				.cabecera{

					h2{

					}
					.sub-title{
					}
				}
				.calugas{
					.caluga{
						img{
						}
						p{
							i{
							}
							span{

							}
						}

						
						
						

					}

					.caluga:hover{
						
					}
				}
			}
		}
	}

	#footer{
		
		.leyenda{
			
			

			h1{
			}

			.item{
				
				a{

					
				}
			}
			.btn-container{
				
			}
		}
		.map{
			img{
				

			}
		}
	}
	#acreditaciones{
		.container{
			

			.row{
				.cabecera{
					
					h2{
						
					}
					.sub-title{
						
					}
				}
				.calugas{
					.caluga{
						img{
							
						}
						p{
							i{

							}
							span{
								
							}
						}
						
						
						

					}
					.caluga:hover{
						
					}

				}
			}
		}	
	}

	.manual-prevencion-container{
		
		a{
			
		}
		&:hover{
			
		}
	}

	/* WEB MOVILE */
	.web-movil{
		
		.logo-movil{
			
		}
		h2{	
			
		}
		.grua{
			
		}
		h1{
			
		}

	}
	/* FIN WEB MOVILE */


	/* MODAL PORTAFOLIO */
	.modal.portafolio{
		.modal-dialog{

			.modal-content{
				
				.modal-header{
					
				}
				.modal-body{

					.text{
						
						h2{
							
						}
						p{

						}
						.button-container{
							
						}
					}
					.img-container{
						
						img{
							
						}
					}
				}
				.modal-footer{
					
				}
			}
		}

	}


	#bio{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#notaria{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#erp{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}


	/* FIN MODAL PORTAFOLIO */



	/* MODAL CONTACTO */
	#modalContacto{
		.modal-dialog{
			.modal-content{
				.modal-header{

					.modal-title{


					}
					button.close{

					}
				}
				.modal-body{
					.form-group{
						label{

						}
						input{
							
							
						}
						textarea{
							
							
						}
						input.error,textarea.error{
							
						}
					}
				}
				.modal-footer{
					button{

					}
					button.cancel{
						
					}
					button.ok{
						
					}
				}
			}
		}
	}
	/* FIN MODAL CONTACTO */

}
@media only screen and (min-width: 1400px) and (max-width: 1919px) {
	a.notarisa-btn{

	}
	.notarisa-btn.small{

	}


	.notarisa-btn.white{
		

	}
	.notarisa-btn.white:hover{
		

	}

	.notarisa-btn.purple{
		

	}

	.notarisa-btn.purple:hover{
		
	}

	.menu.show{
		
	}

	.menu{
		
		.actions{

			i{

			}
		}
		.logo{
			.purple-line{
				
			}
		}
		.items{
			.item{
			}
			.item:hover{

				
			}
		}
		.links{
			.link{
				a{
					i{

					}
				}
			}
			.link:hover{

				a{

					i{
					}
				}
			}
			.link:nth-child(1),
			.link:nth-child(2){
				
			}
		}
	}

	.menu:hover{
		
	}

	nav{

		.top-logo{

		}

		.top-logo.show_it{






		}

		.btn-menu{
		}
	}

	#home{

		img{

		}
		.leyenda{
			h1{

			}
			p{

			}
		}
		.link-notaria{
			a{

			}
		}
		.link-notaria:hover{

		}
	}

	#nosotros{
		.container{
			.row{

				.img-container{
					img{

					}
				}
				.leyenda{
					h1{
					}
					p{

					}
				}
			}
		}
	}

	#historia{
		
		.container{
			

			.titulo{
				h1{

				}
			}
			.leyenda{
				p{
				}
			}

			.img-container{
				.caluga{

					.img-hover{

						img{

							

						}
					}
					h3{


					}
					p{

					}
					p.firma{
						img{

						}
					}
				}

				.img-hover:hover img{
				}
			}
			.btn-container{

			}

		}

	}

	#mision{
		.container{
			

			.row{
				.img{
					
					img{
						
					}
				}
				.leyenda{
					h2{
						
					}
					p{

					}
				}
			}
		}
	}


	#portafolio{
		
		.container{
			

			.row{
				.cabecera{
					
					h2{

					}
				}

				.proyecto{
					.img-container{
						img	{

							
						}	
					}
					.img-container:hover{
						img{
							
							
							
						}
					}
					.label{
						
						
					}


				}
				.proyecto:nth-child(2){
					
					.img-container{
						
						img{
							
						}
					}
					&::after{
						top :105px !important;
					}


				}

				.proyecto:nth-child(3){
					
					.img-container{
						
						img{

						}
					}
					&::before{
						top :105px !important;
						

					}

				}
				.proyecto:nth-child(4){
					

					.img-container{
						
						img{

						}
					}

				}
			}
		}
	}


	#razones{

		.container{
			

			.row{
				.cabecera{

					h2{

					}
					.sub-title{
					}
				}
				.calugas{
					.caluga{
						img{
						}
						p{
							i{
							}
							span{

							}
						}

						
						
						

					}

					.caluga:hover{
						
					}
				}
			}
		}
	}

	#footer{
		
		.leyenda{
			
			

			h1{
			}

			.item{
				
				a{

					
				}
			}
			.btn-container{
				
			}
		}
		.map{
			img{
				

			}
		}
	}
	#acreditaciones{
		.container{
			

			.row{
				.cabecera{
					
					h2{
						
					}
					.sub-title{
						
					}
				}
				.calugas{
					.caluga{
						img{
							
						}
						p{
							i{

							}
							span{
								
							}
						}
						
						
						

					}
					.caluga:hover{
						
					}

				}
			}
		}	
	}

	.manual-prevencion-container{
		
		a{
			
		}
		&:hover{
			
		}
	}

	/* WEB MOVILE */
	.web-movil{
		
		.logo-movil{
			
		}
		h2{	
			
		}
		.grua{
			
		}
		h1{
			
		}

	}
	/* FIN WEB MOVILE */


	/* MODAL PORTAFOLIO */
	.modal.portafolio{
		.modal-dialog{

			.modal-content{
				
				.modal-header{
					
				}
				.modal-body{

					.text{
						
						h2{
							
						}
						p{

						}
						.button-container{
							
						}
					}
					.img-container{
						
						img{
							
						}
					}
				}
				.modal-footer{
					
				}
			}
		}

	}


	#bio{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#notaria{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#erp{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}


	/* FIN MODAL PORTAFOLIO */



	/* MODAL CONTACTO */
	#modalContacto{
		.modal-dialog{
			.modal-content{
				.modal-header{

					.modal-title{


					}
					button.close{

					}
				}
				.modal-body{
					.form-group{
						label{

						}
						input{
							
							
						}
						textarea{
							
							
						}
						input.error,textarea.error{
							
						}
					}
				}
				.modal-footer{
					button{

					}
					button.cancel{
						
					}
					button.ok{
						
					}
				}
			}
		}
	}
	/* FIN MODAL CONTACTO */

}
@media only screen and ( min-width: 1920px) {
	a.notarisa-btn{

	}
	.notarisa-btn.small{

	}


	.notarisa-btn.white{
		

	}
	.notarisa-btn.white:hover{
		

	}

	.notarisa-btn.purple{
		

	}

	.notarisa-btn.purple:hover{
		
	}

	.menu.show{
		
	}

	.menu{
		
		.actions{

			i{

			}
		}
		.logo{
			.purple-line{
				
			}
		}
		.items{
			.item{
			}
			.item:hover{

				
			}
		}
		.links{
			.link{
				a{
					i{

					}
				}
			}
			.link:hover{

				a{

					i{
					}
				}
			}
			.link:nth-child(1),
			.link:nth-child(2){
				
			}
		}
	}

	.menu:hover{
		
	}

	nav{

		.top-logo{

		}

		.top-logo.show_it{






		}

		.btn-menu{
		}
	}

	#home{

		img{

		}
		.leyenda{
			h1{

			}
			p{

			}
		}
		.link-notaria{
			a{

			}
		}
		.link-notaria:hover{

		}
	}

	#nosotros{
		.container{
			.row{

				.img-container{
					img{

					}
				}
				.leyenda{
					h1{
					}
					p{

					}
				}
			}
		}
	}

	#historia{
		
		.container{
			

			.titulo{
				h1{

				}
			}
			.leyenda{
				p{
				}
			}

			.img-container{
				.caluga{

					.img-hover{

						img{

							

						}
					}
					h3{


					}
					p{

					}
					p.firma{
						img{

						}
					}
				}

				.img-hover:hover img{
				}
			}
			.btn-container{

			}

		}

	}

	#mision{
		.container{
			

			.row{
				.img{
					
					img{
						
					}
				}
				.leyenda{
					h2{
						
					}
					p{

					}
				}
			}
		}
	}


	#portafolio{
		
		.container{
			

			.row{
				.cabecera{
					
					h2{

					}
				}

				.proyecto{
					.img-container{
						img	{

							
						}	
					}
					.img-container:hover{
						img{
							
							
							
						}
					}
					.label{
						
						
					}


				}
				.proyecto:nth-child(2){
					
					.img-container{
						
						img{
							
						}
					}
					&::after{
						
					}


				}

				.proyecto:nth-child(3){
					
					.img-container{
						
						img{

						}
					}
					&::before{
						
						

					}

				}
				.proyecto:nth-child(4){
					

					.img-container{
						
						img{

						}
					}

				}
			}
		}
	}


	#razones{

		.container{
			

			.row{
				.cabecera{

					h2{

					}
					.sub-title{
					}
				}
				.calugas{
					.caluga{
						img{
						}
						p{
							i{
							}
							span{

							}
						}

						
						
						

					}

					.caluga:hover{
						
					}
				}
			}
		}
	}

	#footer{
		
		.leyenda{
			
			

			h1{
			}

			.item{
				
				a{

					
				}
			}
			.btn-container{
				
			}
		}
		.map{
			img{
				

			}
		}
	}
	#acreditaciones{
		.container{
			

			.row{
				.cabecera{
					
					h2{
						
					}
					.sub-title{
						
					}
				}
				.calugas{
					.caluga{
						img{
							
						}
						p{
							i{

							}
							span{
								
							}
						}
						
						
						

					}
					.caluga:hover{
						
					}

				}
			}
		}	
	}

	.manual-prevencion-container{
		
		a{
			
		}
		&:hover{
			
		}
	}

	/* WEB MOVILE */
	.web-movil{
		
		.logo-movil{
			
		}
		h2{	
			
		}
		.grua{
			
		}
		h1{
			
		}

	}
	/* FIN WEB MOVILE */


	/* MODAL PORTAFOLIO */
	.modal.portafolio{
		.modal-dialog{

			.modal-content{
				
				.modal-header{
					
				}
				.modal-body{

					.text{
						
						h2{
							
						}
						p{

						}
						.button-container{
							
						}
					}
					.img-container{
						
						img{
							
						}
					}
				}
				.modal-footer{
					
				}
			}
		}

	}


	#bio{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#notaria{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}

	#erp{
		.modal-dialog{
			.modal-content{
				
				
				
				
			}
		}
	}


	/* FIN MODAL PORTAFOLIO */



	/* MODAL CONTACTO */
	#modalContacto{
		.modal-dialog{
			.modal-content{
				.modal-header{

					.modal-title{


					}
					button.close{

					}
				}
				.modal-body{
					.form-group{
						label{

						}
						input{
							
							
						}
						textarea{
							
							
						}
						input.error,textarea.error{
							
						}
					}
				}
				.modal-footer{
					button{

					}
					button.cancel{
						
					}
					button.ok{
						
					}
				}
			}
		}
	}
	/* FIN MODAL CONTACTO */

}