/*COLORES*/

$notarisa-white:white;
$notarisa-purple:#3e003a;
$notarisa-red:#fd3f3a;
$notarisa-green:#3cffcd;
$notarisa-gray:#dadada;
$notarisa-dark-gray:#9a9a9a;
$notarisa-light-gray:#eaeaea;



/*FUENTES*/
@font-face {
	font-family: cera-ligth;
	src: url(fonts/TypeMates-Cera-Light.otf);
}
@font-face {
	font-family: cera-regular;
	src: url(fonts/TypeMates-Cera-Regular.otf);
}
@font-face {
	font-family: cera-bold;
	src: url(fonts/TypeMates-CeraBold.otf);
}

body{
	font-family: cera-regular;
	section{
		height: 100vh !important;
	}
	footer{
		min-height: 60vh !important;
	}

}
/* width */
::-webkit-scrollbar {
	width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
	/*background: var(--notarisa-green) !important; */
}
::-webkit-scrollbar-thumb{
	background: transparent;
}

/* Handle */
.show-scroll ::-webkit-scrollbar-thumb {
	background: $notarisa-purple;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $notarisa-purple !important;
}

.nopad{
	padding:0px;
}
.red-line{
	border-bottom: solid 3px $notarisa-red ;
	width: 60px;
	position: absolute;

}
.purple-line{
	border-bottom: solid 3px $notarisa-purple ;
	width: 60px;
	position: absolute;

}
.notarisa-btn{

	background-color: transparent;
	border-radius: 32px;
	z-index: 1;
	padding: 10px 30px 10px 30px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
a.notarisa-btn{
	text-decoration: none !important;
}
.notarisa-btn.small{
	padding: 5px 30px 5px 30px;
}


.notarisa-btn.white{
	border: 2px solid white;
	color: white;
}
.notarisa-btn.white:hover{
	background-color: white;
	color:$notarisa-purple;
}

.notarisa-btn.purple{
	border: 2px solid $notarisa-purple;
	color: $notarisa-purple;
}

.notarisa-btn.purple:hover{
	background-color: purple;
	border: 2px solid $notarisa-purple;
	color:$notarisa-white;
}

.menu.show{
	right: 0px;
}

.menu{
	z-index: 1;
	position: fixed;
	height: 100vh;
	background-color: $notarisa-red;
	width: 300px;
	right:-800px;
	top: 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	.actions{
		width: 100%;
		float: left;
		i{
			font-size: 30px;
			margin-top: 15px;
			margin-left: 20px;
		}
	}
	.logo{
		width: 100%;
		float: left;
		margin-top: 90px;
		margin-bottom: 41px;
		.purple-line{
			border-bottom: solid 2px #3e003a;
			width: 20px !important;
			left: 70px !important;
		}
	}
	.items{

		padding-left: 69px;
		font-size: 20px;
		margin-bottom: calc(100vh - 80px);
		.item{
			width: 100%;
			float: left;
			text-decoration: none;
			color: $notarisa-purple ;
			margin-bottom: 3px;
			-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
		}
		.item:hover{
			color: $notarisa-white ;
			padding-left: 10px;
		}
	}
	.links{
		padding-left: 5px;
		bottom: 0px;

		.link{
			text-decoration: none;
			float: left;
			width: 33%;
			font-size: 25px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			a{
				i{
					-webkit-transition: all 0.1s ease-in-out;
					-moz-transition: all 0.1s ease-in-out;
					-o-transition: all 0.1s ease-in-out;
					transition: all 0.1s ease-in-out;
					color:$notarisa-purple;
				}
			}
		}
		.link:hover{
			
			a{
				
				i{
					color:$notarisa-white;
					-webkit-transform: scale(0.8);  
					-ms-transform: scale(0.8);  
					transform: scale(0.8);  
				}
			}
		}
		.link:nth-child(1),
		.link:nth-child(2){
			border-right:solid 2px $notarisa-purple;
		}
	}
}

.menu:hover{
	-webkit-box-shadow: 5px 0px 19px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 0px 19px 5px rgba(0,0,0,0.75);
	box-shadow: 5px 0px 19px 5px rgba(0,0,0,0.75);
}

nav{

	.top-logo{
		opacity: 0;
		position: fixed;
		width: 57px;
		z-index: 1;
		top: 30px;
		left: 39px;
	}

	.top-logo.show_it{

		opacity: 1;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-menu{
		top: 40px;
		right: 25px;
		position: fixed;
	}
}

#home{
	overflow: hidden;
	img{
		width: 100%;
	}
	.leyenda{
		position: absolute;
		top: calc(100% - 350px);
		width: 50%;
		left: 100px;
		h1{
			font-family: cera-bold;
			font-size: 60px;
			color: $notarisa-purple;
		}
		p{
			font-size: 20px;
			font-family: cera-ligth;
			margin-top: 30px;
		}
	}
	.link-notaria{
		position: absolute;
		cursor:pointer;
		opacity: 0.8;
		top: calc(100% - 113px);
		font-size: 30px;
		padding: 30px;
		width: 100%;
		background-color: $notarisa-red;
		color:$notarisa-purple;
		font-family: cera-bold;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
		a{
			color:$notarisa-white;
			font-family: cera-ligth;
			font-size: 20px;
			padding-bottom: 8px;
		}
	}
	.link-notaria:hover{
		opacity: 1;
	}
}

#nosotros{
	.container{
		.row{
			margin-top: 25%;
			.img-container{
				img{
					width:100%;
				}
			}
			.leyenda{
				h1{
					font-family: cera-bold;
					font-size: 60px;
					color: $notarisa-purple;
				}
				p{
					font-size: 20px;
					font-family: cera-ligth;
					margin-bottom: 30px;
				}
			}
		}
	}
}

#historia{
	background-color: $notarisa-red;
	.container{
		padding-top: 2%;

		.titulo{
			h1{
				font-family: cera-bold;
				font-size: 40px;
				color: $notarisa-purple;
			}
		}
		.leyenda{
			height: 400px;
			overflow-y:scroll; 
			p{
				font-size: 17px;
				font-family: cera-ligth;
				margin-bottom: 30px;
			}
		}

		.img-container{
			.caluga{
				color: $notarisa-purple;
				.img-hover{
					overflow: hidden;
					// height: 270px;
					img{
						width:100%;
						-webkit-transition: all 0.1s ease-in-out;
						-moz-transition: all 0.1s ease-in-out;
						-o-transition: all 0.1s ease-in-out;
						transition: all 0.1s ease-in-out;
					}
				}
				h3{
					margin-top: 10px;
					font-size:17px;
					font-family: cera-regular;
					color:$notarisa-purple;
				}
				p{
					color:$notarisa-purple;
					font-family: cera-ligth;
					font-size: 14px;
				}
				p.firma{
					img{

					}
				}
			}

			.img-hover:hover img{
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
		.btn-container{
			margin-top: 30px;
		}

	}

}

#mision{
	.container{
		padding-top: 10%;
		color:$notarisa-purple;
		.row{
			.img{
				/*padding-top: 30px;*/
				img{
					width: 80%;
				}
			}
			.leyenda{
				h2{
					font-family: cera-bold;
					margin-bottom: 30px;
				}
				p{

				}
			}
		}
	}
}


#portafolio{
	background-color: $notarisa-light-gray;
	.container{
		padding-top: 5%;
		color:$notarisa-purple;
		.row{
			.cabecera{
				padding-bottom: 5%;
				h2{
					font-size: 40px;
					font-family: cera-bold;

				}
			}

			.proyecto{
				.img-container{
					cursor: pointer;
					overflow: hidden !important;
					height: 300px;
					img	{
						width: 100%;
						-webkit-transition: all 0.4s ease-in-out;
						-moz-transition: all 0.4s ease-in-out;
						-o-transition: all 0.4s ease-in-out;
						transition: all 0.4s ease-in-out;
					}	
				}
				.img-container:hover{
					img{
						-webkit-transform: scale(1.3); 
						-ms-transform: scale(1.3); 
						transform: scale(1.3); 
					}
				}
				.label{
					padding-top: 35px;
					font-size: 20px;
				}

				
			}
			.proyecto:nth-child(2){
				z-index: 2 !important;
				.img-container{
					background-color: white;
					img{
						width: 100%;
					}
				}
				&::after{
					content: '';
					display: inline-block;
					width: 100px;
					height: 100px;
					-moz-border-radius: 7.5px;
					-webkit-border-radius: 7.5px;
					border-radius: 100px;
					background-color: white;
					position: absolute;
					top: 135px;
					z-index: 1;
					right:-50px;
				}


			}

			.proyecto:nth-child(3){
				z-index: 1 !important;
				.img-container{
					background-color: $notarisa-gray;
					img{
						
					}
				}
				&::before{
					content: '';
					display: inline-block;
					width: 100px;
					height: 100px;
					-moz-border-radius: 7.5px;
					-webkit-border-radius: 7.5px;
					border-radius: 100px;
					background-color: $notarisa-gray;
					position: absolute;
					top: 135px;
					right: -50px;
					z-index: 9999;
					
				}

			}
			.proyecto:nth-child(4){
				z-index: 0;
				
				.img-container{
					background-color: white;
					img{

					}
				}

			}
		}
	}
}


#razones{
	
	.container{
		padding-top: 5%;
		color:$notarisa-purple;
		.row{
			.cabecera{
				margin-bottom: 150px;
				h2{
					font-size: 40px;
					font-family: cera-bold;
				}
				.sub-title{
					font-size: 25px;
					font-family: cera-ligth;
					color:$notarisa-gray;
				}
			}
			.calugas{
				.caluga{
					img{
						width: 100px;
						height: 100px;
					}
					p{
						i{
							color:$notarisa-red;
							font-weight: bold;
							font-size: 12px;
						}
						span{
							font-size: 15px;
						}
					}
					-webkit-transform: scale(0.9);  
					-ms-transform: scale(0.9);  
					transform: scale(0.9);  
					-webkit-transition: all 0.1s ease-in-out;
					-moz-transition: all 0.1s ease-in-out;
					-o-transition: all 0.1s ease-in-out;
					transition: all 0.1s ease-in-out;
				}

				.caluga:hover{
					-webkit-transform: scale(1);  
					-ms-transform: scale(1);  
					transform: scale(1);  
				}
			}
		}
	}
}

#footer{
	height: 100vh;
	background-color: $notarisa-purple;
	color:$notarisa-white;
	.leyenda{
		padding: 100px;
		padding-top: 100px;
		
		h1{
			font-family: cera-bold;
			font-size: 60px;
			margin-bottom: 30px;
		}

		.item{
			margin-bottom: 13px;
			a{
				color: $notarisa-white;
				text-decoration: none;
			}
		}
		.btn-container{
			margin-bottom: 120px ;
		}
	}
	.map{
		img{
			width: 100%;

		}
	}
}




#acreditaciones{
	.container{
		padding-top: 5%;
		color:$notarisa-purple;
		.row{
			.cabecera{
				margin-bottom: 150px;
				h2{
					font-size: 40px;
					font-family: cera-bold;
				}
				.sub-title{
					font-size: 25px;
					font-family: cera-ligth;
					color:$notarisa-gray;
				}
			}
			.calugas{
				.caluga{
					img{
						width: 100px;
						height: 100px;
					}
					p{
						i{
							color:$notarisa-red;
							font-weight: bold;
							font-size: 12px;
						}
						span{
							font-size: 15px;
						}
					}
					-webkit-transform: scale(0.9);  
					-ms-transform: scale(0.9);  
					transform: scale(0.9);  
					-webkit-transition: all 0.1s ease-in-out;
					-moz-transition: all 0.1s ease-in-out;
					-o-transition: all 0.1s ease-in-out;
					transition: all 0.1s ease-in-out;
				}
				.caluga:hover{
					-webkit-transform: scale(1);  
					-ms-transform: scale(1);  
					transform: scale(1);  
				}

			}
		}
	}	
}

.manual-prevencion-container{
	background-color: #e6e6e6 !important;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	opacity: 0.9;
	a{
		text-decoration: none;
		color: $notarisa-purple !important;
	}
	&:hover{
		opacity: 1;
	}
}

/* WEB MOVILE */
.web-movil{
	background-color: $notarisa-red;
	height: 100vh;
	color: $notarisa-white;
	.logo-movil{
		width: 150px;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 40px;
		z-index: 1;
	}
	h2{
		font-size: 35px;
	}
	.grua{
		margin-bottom: 50px;
		width: 80px;
	}
	h1{
		font-size: 30px;
	}

}
/* FIN WEB MOVILE */


/* MODAL PORTAFOLIO */
.modal.portafolio{
	.modal-dialog{
		// width: 70% !important;
		width: 850px !important;

		max-width:1280px !important;
		.modal-content{
			border:none;
			.modal-header{
				border:none;
			}
			.modal-body{
				color: $notarisa-purple;
				.text{
					padding-left: 60px;
					h2{
						font-size: 35px !important;
						font-weight: bold;
						font-family: cera-bold;
						margin-bottom: 40px;
					}
					p{

					}
					.button-container{
						margin-top: 40px;
					}
				}
				.img-container{
					overflow: hidden;
					img{
						width: 100%;
					}
				}
			}
			.modal-footer{
				border:none;
			}
		}
	}

}


#bio{
	.modal-dialog{
		.modal-content{
			background-image: url('../../img/portafolio/modal-bio.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: right;
		}
	}
}

#notaria{
	.modal-dialog{
		.modal-content{
			background-image: url('../../img/portafolio/modal-notaria.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: right;
		}
	}
}

#erp{
	.modal-dialog{
		.modal-content{
			background-image: url('../../img/portafolio/modal-erp.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: right;
		}
	}
}


/* FIN MODAL PORTAFOLIO */



/* MODAL CONTACTO */
#modalContacto{
	.modal-dialog{
		.modal-content{
			.modal-header{
				margin-bottom: 50px;
				.modal-title{
					font-size:40px;
					color:$notarisa-purple;
				}
				button.close{

				}
			}
			.modal-body{
				.form-group{
					label{

					}
					input{
						
						border:solid 2px $notarisa-dark-gray;
					}
					textarea{
						
						border:solid 2px $notarisa-dark-gray;
					}
					input.error,textarea.error{
						border-color:$notarisa-red;
					}
				}
			}
			.modal-footer{
				button{
					border:none;
					border-radius: 50px;
					padding: 6px 15px 10px 15px !important;
				}
				button.cancel{
					background-color: $notarisa-red;
				}
				button.ok{
					background-color: $notarisa-green;
				}
			}
		}
	}
}
/* FIN MODAL CONTACTO */


#mensajeRespuesta{
	text-align: center;
	&.success{
		color: $notarisa-green;
	}
	&.error{
		color: $notarisa-red;
	}


}

