/*COLORES*/
/*FUENTES*/
@font-face {
  font-family: cera-ligth;
  src: url(fonts/TypeMates-Cera-Light.otf);
}
@font-face {
  font-family: cera-regular;
  src: url(fonts/TypeMates-Cera-Regular.otf);
}
@font-face {
  font-family: cera-bold;
  src: url(fonts/TypeMates-CeraBold.otf);
}
body {
  font-family: cera-regular;
}
body section {
  height: 100vh !important;
}
body footer {
  min-height: 60vh !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: var(--notarisa-green) !important; */
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle */
.show-scroll ::-webkit-scrollbar-thumb {
  background: #3e003a;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e003a !important;
}

.nopad {
  padding: 0px;
}

.red-line {
  border-bottom: solid 3px #fd3f3a;
  width: 60px;
  position: absolute;
}

.purple-line {
  border-bottom: solid 3px #3e003a;
  width: 60px;
  position: absolute;
}

.notarisa-btn {
  background-color: transparent;
  border-radius: 32px;
  z-index: 1;
  padding: 10px 30px 10px 30px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

a.notarisa-btn {
  text-decoration: none !important;
}

.notarisa-btn.small {
  padding: 5px 30px 5px 30px;
}

.notarisa-btn.white {
  border: 2px solid white;
  color: white;
}

.notarisa-btn.white:hover {
  background-color: white;
  color: #3e003a;
}

.notarisa-btn.purple {
  border: 2px solid #3e003a;
  color: #3e003a;
}

.notarisa-btn.purple:hover {
  background-color: purple;
  border: 2px solid #3e003a;
  color: white;
}

.menu.show {
  right: 0px;
}

.menu {
  z-index: 1;
  position: fixed;
  height: 100vh;
  background-color: #fd3f3a;
  width: 300px;
  right: -800px;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu .actions {
  width: 100%;
  float: left;
}
.menu .actions i {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
}
.menu .logo {
  width: 100%;
  float: left;
  margin-top: 90px;
  margin-bottom: 41px;
}
.menu .logo .purple-line {
  border-bottom: solid 2px #3e003a;
  width: 20px !important;
  left: 70px !important;
}
.menu .items {
  padding-left: 69px;
  font-size: 20px;
  margin-bottom: calc(100vh - 80px);
}
.menu .items .item {
  width: 100%;
  float: left;
  text-decoration: none;
  color: #3e003a;
  margin-bottom: 3px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.menu .items .item:hover {
  color: white;
  padding-left: 10px;
}
.menu .links {
  padding-left: 5px;
  bottom: 0px;
}
.menu .links .link {
  text-decoration: none;
  float: left;
  width: 33%;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu .links .link a i {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #3e003a;
}
.menu .links .link:hover a i {
  color: white;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.menu .links .link:nth-child(1),
.menu .links .link:nth-child(2) {
  border-right: solid 2px #3e003a;
}

.menu:hover {
  -webkit-box-shadow: 5px 0px 19px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 0px 19px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 0px 19px 5px rgba(0, 0, 0, 0.75);
}

nav .top-logo {
  opacity: 0;
  position: fixed;
  width: 57px;
  z-index: 1;
  top: 30px;
  left: 39px;
}
nav .top-logo.show_it {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav .btn-menu {
  top: 40px;
  right: 25px;
  position: fixed;
}

#home {
  overflow: hidden;
}
#home img {
  width: 100%;
}
#home .leyenda {
  position: absolute;
  top: calc(100% - 350px);
  width: 50%;
  left: 100px;
}
#home .leyenda h1 {
  font-family: cera-bold;
  font-size: 60px;
  color: #3e003a;
}
#home .leyenda p {
  font-size: 20px;
  font-family: cera-ligth;
  margin-top: 30px;
}
#home .link-notaria {
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
  top: calc(100% - 113px);
  font-size: 30px;
  padding: 30px;
  width: 100%;
  background-color: #fd3f3a;
  color: #3e003a;
  font-family: cera-bold;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#home .link-notaria a {
  color: white;
  font-family: cera-ligth;
  font-size: 20px;
  padding-bottom: 8px;
}
#home .link-notaria:hover {
  opacity: 1;
}

#nosotros .container .row {
  margin-top: 25%;
}
#nosotros .container .row .img-container img {
  width: 100%;
}
#nosotros .container .row .leyenda h1 {
  font-family: cera-bold;
  font-size: 60px;
  color: #3e003a;
}
#nosotros .container .row .leyenda p {
  font-size: 20px;
  font-family: cera-ligth;
  margin-bottom: 30px;
}

#historia {
  background-color: #fd3f3a;
}
#historia .container {
  padding-top: 2%;
}
#historia .container .titulo h1 {
  font-family: cera-bold;
  font-size: 40px;
  color: #3e003a;
}
#historia .container .leyenda {
  height: 400px;
  overflow-y: scroll;
}
#historia .container .leyenda p {
  font-size: 17px;
  font-family: cera-ligth;
  margin-bottom: 30px;
}
#historia .container .img-container .caluga {
  color: #3e003a;
}
#historia .container .img-container .caluga .img-hover {
  overflow: hidden;
}
#historia .container .img-container .caluga .img-hover img {
  width: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#historia .container .img-container .caluga h3 {
  margin-top: 10px;
  font-size: 17px;
  font-family: cera-regular;
  color: #3e003a;
}
#historia .container .img-container .caluga p {
  color: #3e003a;
  font-family: cera-ligth;
  font-size: 14px;
}
#historia .container .img-container .img-hover:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#historia .container .btn-container {
  margin-top: 30px;
}

#mision .container {
  padding-top: 10%;
  color: #3e003a;
}
#mision .container .row .img {
  /*padding-top: 30px;*/
}
#mision .container .row .img img {
  width: 80%;
}
#mision .container .row .leyenda h2 {
  font-family: cera-bold;
  margin-bottom: 30px;
}

#portafolio {
  background-color: #eaeaea;
}
#portafolio .container {
  padding-top: 5%;
  color: #3e003a;
}
#portafolio .container .row .cabecera {
  padding-bottom: 5%;
}
#portafolio .container .row .cabecera h2 {
  font-size: 40px;
  font-family: cera-bold;
}
#portafolio .container .row .proyecto .img-container {
  cursor: pointer;
  overflow: hidden !important;
  height: 300px;
}
#portafolio .container .row .proyecto .img-container img {
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portafolio .container .row .proyecto .img-container:hover img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
#portafolio .container .row .proyecto .label {
  padding-top: 35px;
  font-size: 20px;
}
#portafolio .container .row .proyecto:nth-child(2) {
  z-index: 2 !important;
}
#portafolio .container .row .proyecto:nth-child(2) .img-container {
  background-color: white;
}
#portafolio .container .row .proyecto:nth-child(2) .img-container img {
  width: 100%;
}
#portafolio .container .row .proyecto:nth-child(2)::after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 100px;
  background-color: white;
  position: absolute;
  top: 135px;
  z-index: 1;
  right: -50px;
}
#portafolio .container .row .proyecto:nth-child(3) {
  z-index: 1 !important;
}
#portafolio .container .row .proyecto:nth-child(3) .img-container {
  background-color: #dadada;
}
#portafolio .container .row .proyecto:nth-child(3)::before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 100px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 100px;
  background-color: #dadada;
  position: absolute;
  top: 135px;
  right: -50px;
  z-index: 9999;
}
#portafolio .container .row .proyecto:nth-child(4) {
  z-index: 0;
}
#portafolio .container .row .proyecto:nth-child(4) .img-container {
  background-color: white;
}

#razones .container {
  padding-top: 5%;
  color: #3e003a;
}
#razones .container .row .cabecera {
  margin-bottom: 150px;
}
#razones .container .row .cabecera h2 {
  font-size: 40px;
  font-family: cera-bold;
}
#razones .container .row .cabecera .sub-title {
  font-size: 25px;
  font-family: cera-ligth;
  color: #dadada;
}
#razones .container .row .calugas .caluga {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#razones .container .row .calugas .caluga img {
  width: 100px;
  height: 100px;
}
#razones .container .row .calugas .caluga p i {
  color: #fd3f3a;
  font-weight: bold;
  font-size: 12px;
}
#razones .container .row .calugas .caluga p span {
  font-size: 15px;
}
#razones .container .row .calugas .caluga:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#footer {
  height: 100vh;
  background-color: #3e003a;
  color: white;
}
#footer .leyenda {
  padding: 100px;
  padding-top: 100px;
}
#footer .leyenda h1 {
  font-family: cera-bold;
  font-size: 60px;
  margin-bottom: 30px;
}
#footer .leyenda .item {
  margin-bottom: 13px;
}
#footer .leyenda .item a {
  color: white;
  text-decoration: none;
}
#footer .leyenda .btn-container {
  margin-bottom: 120px;
}
#footer .map img {
  width: 100%;
}

#acreditaciones .container {
  padding-top: 5%;
  color: #3e003a;
}
#acreditaciones .container .row .cabecera {
  margin-bottom: 150px;
}
#acreditaciones .container .row .cabecera h2 {
  font-size: 40px;
  font-family: cera-bold;
}
#acreditaciones .container .row .cabecera .sub-title {
  font-size: 25px;
  font-family: cera-ligth;
  color: #dadada;
}
#acreditaciones .container .row .calugas .caluga {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#acreditaciones .container .row .calugas .caluga img {
  width: 100px;
  height: 100px;
}
#acreditaciones .container .row .calugas .caluga p i {
  color: #fd3f3a;
  font-weight: bold;
  font-size: 12px;
}
#acreditaciones .container .row .calugas .caluga p span {
  font-size: 15px;
}
#acreditaciones .container .row .calugas .caluga:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.manual-prevencion-container {
  background-color: #e6e6e6 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0.9;
}
.manual-prevencion-container a {
  text-decoration: none;
  color: #3e003a !important;
}
.manual-prevencion-container:hover {
  opacity: 1;
}

/* WEB MOVILE */
.web-movil {
  background-color: #fd3f3a;
  height: 100vh;
  color: white;
}
.web-movil .logo-movil {
  width: 150px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  z-index: 1;
}
.web-movil h2 {
  font-size: 35px;
}
.web-movil .grua {
  margin-bottom: 50px;
  width: 80px;
}
.web-movil h1 {
  font-size: 30px;
}

/* FIN WEB MOVILE */
/* MODAL PORTAFOLIO */
.modal.portafolio .modal-dialog {
  width: 850px !important;
  max-width: 1280px !important;
}
.modal.portafolio .modal-dialog .modal-content {
  border: none;
}
.modal.portafolio .modal-dialog .modal-content .modal-header {
  border: none;
}
.modal.portafolio .modal-dialog .modal-content .modal-body {
  color: #3e003a;
}
.modal.portafolio .modal-dialog .modal-content .modal-body .text {
  padding-left: 60px;
}
.modal.portafolio .modal-dialog .modal-content .modal-body .text h2 {
  font-size: 35px !important;
  font-weight: bold;
  font-family: cera-bold;
  margin-bottom: 40px;
}
.modal.portafolio .modal-dialog .modal-content .modal-body .text .button-container {
  margin-top: 40px;
}
.modal.portafolio .modal-dialog .modal-content .modal-body .img-container {
  overflow: hidden;
}
.modal.portafolio .modal-dialog .modal-content .modal-body .img-container img {
  width: 100%;
}
.modal.portafolio .modal-dialog .modal-content .modal-footer {
  border: none;
}

#bio .modal-dialog .modal-content {
  background-image: url("../../img/portafolio/modal-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

#notaria .modal-dialog .modal-content {
  background-image: url("../../img/portafolio/modal-notaria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

#erp .modal-dialog .modal-content {
  background-image: url("../../img/portafolio/modal-erp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

/* FIN MODAL PORTAFOLIO */
/* MODAL CONTACTO */
#modalContacto .modal-dialog .modal-content .modal-header {
  margin-bottom: 50px;
}
#modalContacto .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 40px;
  color: #3e003a;
}
#modalContacto .modal-dialog .modal-content .modal-body .form-group input {
  border: solid 2px #9a9a9a;
}
#modalContacto .modal-dialog .modal-content .modal-body .form-group textarea {
  border: solid 2px #9a9a9a;
}
#modalContacto .modal-dialog .modal-content .modal-body .form-group input.error, #modalContacto .modal-dialog .modal-content .modal-body .form-group textarea.error {
  border-color: #fd3f3a;
}
#modalContacto .modal-dialog .modal-content .modal-footer button {
  border: none;
  border-radius: 50px;
  padding: 6px 15px 10px 15px !important;
}
#modalContacto .modal-dialog .modal-content .modal-footer button.cancel {
  background-color: #fd3f3a;
}
#modalContacto .modal-dialog .modal-content .modal-footer button.ok {
  background-color: #3cffcd;
}

/* FIN MODAL CONTACTO */
#mensajeRespuesta {
  text-align: center;
}
#mensajeRespuesta.success {
  color: #3cffcd;
}
#mensajeRespuesta.error {
  color: #fd3f3a;
}

/*# sourceMappingURL=front.sass.css.map */
