@media only screen and (min-width: 321px) and (max-width: 480px) {
  .web-container {
    display: none !important;
  }

  .web-movil {
    display: block !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .web-container {
    display: none !important;
  }

  .web-movil {
    display: block !important;
  }

  .hide-md {
    display: none !important;
  }

  #home .leyenda {
    top: calc(100% - 325px) !important;
  }
  #home .link-notaria {
    font-size: 27px !important;
    padding: 16px !important;
  }

  #historia .container .img-container .caluga h3 {
    font-size: 11px !important;
  }

  #portafolio .container .row .proyecto .img-container {
    height: 270px !important;
  }
  #portafolio .container .row .proyecto:nth-child(2)::after {
    top: 88px !important;
  }
  #portafolio .container .row .proyecto:nth-child(3)::before {
    top: 88px !important;
  }

  /* WEB MOVILE */
  /* FIN WEB MOVILE */
  /* MODAL PORTAFOLIO */
  .modal.portafolio .modal-dialog {
    width: 796px !important;
  }

  /* FIN MODAL PORTAFOLIO */
  /* MODAL CONTACTO */
  /* FIN MODAL CONTACTO */
}
@media only screen and (min-width: 768px) and (max-width: 835px) {
  .hide-md {
    display: none !important;
  }

  #home {
    height: 75% !important;
  }
  #home .leyenda {
    top: calc(100% - 359px) !important;
  }
  #home .link-notaria {
    font-size: 24px !important;
    padding: 20px !important;
  }

  #historia .container .leyenda {
    height: 280px !important;
  }
  #historia .container .img-container .caluga h3 {
    font-size: 11px !important;
  }

  #portafolio .container .row .proyecto .img-container {
    height: 180px !important;
  }
  #portafolio .container .row .proyecto:nth-child(2)::after {
    top: 63px;
    content: '';
    display: inline-block;
    width: 65px;
    height: 65px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 100px;
    background-color: white;
    position: absolute;
    z-index: 1;
    right: -34px;
  }
  #portafolio .container .row .proyecto:nth-child(3)::before {
    content: '';
    top: 63px;
    content: '';
    display: inline-block;
    width: 65px;
    height: 65px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 100px;
    background-color: #dadada;
    position: absolute;
    z-index: 1;
    right: -34px;
  }

  #razones .container .row .cabecera {
    margin-bottom: 90px !important;
  }

  /* WEB MOVILE */
  /* FIN WEB MOVILE */
  /* MODAL PORTAFOLIO */
  /* FIN MODAL PORTAFOLIO */
  /* MODAL CONTACTO */
  /* FIN MODAL CONTACTO */
}
@media only screen and (min-width: 836px) and (max-width: 1023px) {
  .hide-md {
    display: none !important;
  }

  #home .leyenda {
    top: calc(100% - 360px) !important;
    width: 70% !important;
  }
  #home .link-notaria {
    font-size: 24px !important;
    padding: 20px !important;
    top: calc(100% - 77px) !important;
  }

  #historia .container .leyenda {
    height: 280px !important;
  }
  #historia .container .img-container .caluga h3 {
    font-size: 14px !important;
  }
  #historia .container .img-container .caluga p {
    font-size: 11px !important;
  }

  #portafolio .container .row .proyecto .img-container {
    height: 180px !important;
  }
  #portafolio .container .row .proyecto:nth-child(2)::after {
    top: 63px;
    content: '';
    display: inline-block;
    width: 65px;
    height: 65px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 100px;
    background-color: white;
    position: absolute;
    z-index: 1;
    right: -34px;
  }
  #portafolio .container .row .proyecto:nth-child(3)::before {
    top: 63px;
    content: '';
    display: inline-block;
    width: 65px;
    height: 65px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 100px;
    background-color: #dadada;
    position: absolute;
    z-index: 1;
    right: -34px;
  }

  #razones .container .row .cabecera {
    margin-bottom: 90px !important;
  }

  /* WEB MOVILE */
  /* FIN WEB MOVILE */
  /* MODAL PORTAFOLIO */
  /* FIN MODAL PORTAFOLIO */
  /* MODAL CONTACTO */
  /* FIN MODAL CONTACTO */
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  #portafolio .container .row .proyecto .img-container {
    height: 300px !important;
  }
  #portafolio .container .row .proyecto:nth-child(2) .img-container {
    height: 300px !important;
  }
  #portafolio .container .row .proyecto:nth-child(2)::after {
    top: 103px !important;
  }
  #portafolio .container .row .proyecto:nth-child(3) .img-container {
    height: 300px !important;
  }
  #portafolio .container .row .proyecto:nth-child(3)::before {
    top: 103px !important;
  }

  /* WEB MOVILE */
  /* FIN WEB MOVILE */
  /* MODAL PORTAFOLIO */
  /* FIN MODAL PORTAFOLIO */
  /* MODAL CONTACTO */
  /* FIN MODAL CONTACTO */
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  #portafolio .container .row .proyecto:nth-child(2)::after {
    top: 105px !important;
  }
  #portafolio .container .row .proyecto:nth-child(3)::before {
    top: 105px !important;
  }

  /* WEB MOVILE */
  /* FIN WEB MOVILE */
  /* MODAL PORTAFOLIO */
  /* FIN MODAL PORTAFOLIO */
  /* MODAL CONTACTO */
  /* FIN MODAL CONTACTO */
}
@media only screen and (min-width: 1400px) and (max-width: 1919px) {
  #portafolio .container .row .proyecto:nth-child(2)::after {
    top: 105px !important;
  }
  #portafolio .container .row .proyecto:nth-child(3)::before {
    top: 105px !important;
  }

  /* WEB MOVILE */
  /* FIN WEB MOVILE */
  /* MODAL PORTAFOLIO */
  /* FIN MODAL PORTAFOLIO */
  /* MODAL CONTACTO */
  /* FIN MODAL CONTACTO */
}
@media only screen and (min-width: 1920px) {
  /* WEB MOVILE */
  /* FIN WEB MOVILE */
  /* MODAL PORTAFOLIO */
  /* FIN MODAL PORTAFOLIO */
  /* MODAL CONTACTO */
  /* FIN MODAL CONTACTO */
}

/*# sourceMappingURL=front-responsive-style.sass.css.map */
